
#topvolunteers {
	/*border-spacing: 10px;*/
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

#topvolunteers th {
	padding-bottom: 20px;
}

#topvolunteers td ,th{
	padding-right: 70px;
}

#topvolunteers td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}


#topsponsors {
	/*border-spacing: 10px;*/
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

#topsponsors th {
	padding-bottom: 20px;
}

#topsponsors td ,th{
	padding-right: 70px;
}

#topsponsors td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}