<div ng-controller="charityController">
    <h2>Charity Page</h2>
    <p>{{charities}}</p>
    <a href="">Your Profile</a>
    <table>
        <thead>
            <td></td>
            <td>Charity</td>
            <td>Description</td>
            <td>Email</td>
            <td>Number</td>
            <td># Upcoming Tasks</td>
        </thead>
        <tbody ng-repeat="charity in charities">
            <td></td>
            <td><a href="">{{charity.name}}</a></td>
            <td>{{charity.description}}</td>
            <td>{{charity.email}}</td>
            <td>{{charity.number}}</td>
            <td>{{charity.count}}</td>
        </tbody>
    </table>
</div>
