<div ng-controller="tasksController">
    <header class="headeruser navbar-fixed-top">
        <div class="container">
            <h1 class="logo pull-left">
                <a href="/#userdashboard">
                    <span class="logo-title">devAid</span>
                </a>
            </h1><!--//logo-->
            <nav id="main-nav" class="main-nav navbar-right" >
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a href="#promo">Home</a></li>
                        <li class="nav-item"><a href="/#charities">Charities</a></li>
                        <li class="nav-item"><a href="#/userdashboard">Profile</a></li>
                        <li class="nav-item last"><a data-toggle="modal" data-target="#login"  href="">Logout</a></li>

                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header>
    <div class="container">
        <h2 class="userheaders" ng-bind="charityInfo.name"></h2>
        <div class="container">
            <div class="row">
                <div class="item col-md-12 col-sm-12 col-xs-12">
                    <div class="content">
                        <h3 class="sub-title">Upcoming Tasks</h3>
                        <table id="upcomingc">
                            <thead >
                                <tr>
                                    <th class="theads">Title</th>
                                    <th class="theads">Description</th>
                                    <th class="theads">Date</th>
                                    <th class="theads">Actions</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="task in charityUpcoming">
                                    <td>{{task.title}}</td>
                                    <td>{{task.description}}</td>
                                    <td>{{task.date}}</td>
                                    <td><button ng-click="volClicked(task._id)" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#volModal">Volunteer</button><button type="button" class="btn btn-info btn-sm">Donate</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="item col-md-12 col-sm-12 col-xs-12">
                    <div class="content">
                        <h3 class="sub-title">Completed Tasks</h3>
                        <table id="completedc" >
                            <thead >
                                <tr>
                                    <th class="theads">Title</th>
                                    <th class="theads">Description</th>
                                    <th class="theads">Date</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="task in charityCompleted">
                                    <td>{{task.title}}</td>
                                    <td>{{task.description}}</td>
                                    <td>{{task.date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="volModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to volunteer for this task?</p>
          </div>
          <div class="modal-footer">
            <button type="button" ng-click="volPage(taskId)" class="btn btn-default">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
</div>
