<div class="container" ng-controller="listController">
  <a href="#/">Logout</a>
  <h3>Welcome, <span ng-bind="user.name"></span>!</h3>
  <form class="form-inline">
    <input class="form-control" type="text" placeholder="Title" ng-model="newItem.title">
    <input class="form-control" type="text" placeholder="Description" ng-model="newItem.description">
    <select class="form-control" ng-model="newItem._tag">
      <option value="">Select...</option>
      <option ng-repeat="person in users" ng-bind="person.name" value="{{person._id}}" ng-hide="person._id == user._id || person.name == 'null'"></option>
    </select>
    <button ng-click="addToList()" class="btn btn-default">Add to List</button>
  </form>
  <h4>Before I die I want to...</h4>
  <ul class="list-unstyled">
    <li ng-repeat="item in user.list">
      <input type="checkbox" ng-model="item.done" ng-click="toggleDone(item._id)">
      <span ng-bind="item._owner.name"></span> | 
      <span ng-bind="item.title"></span> - 
      <span ng-bind="item.description"></span> - 
      <span ng-bind="item.date | date: 'longDate'">Sep. 15, 2014</span>
    </li>
  </ul>
  <h4>Want to see other bucket lists?</h4>
  <ul class="list-unstyled">
    <li ng-repeat="person in users" ng-hide="person._id == user._id || person.name == 'null'"><a href="#/user/{{person._id}}" ng-bind="person.name"></a></li>
  </ul>
</div>