<div ng-controller="usersController">
<header id="header" class="header">
            <div class="container">
                <h1 class="logo pull-left">
                    <a class="scrollto" href="#promo">
                        <span class="logo-title">devAid</span>
                    </a>
                </h1><!--//logo-->
                <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button><!--//nav-toggle-->
                    </div><!--//navbar-header-->
                    <div class="navbar-collapse collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                            <li class="nav-item"><a class="scrollto" href="#about">About</a></li>
                            <li class="nav-item"><a class="scrollto" href="#features">Features</a></li>
                            <li class="nav-item"><a class="scrollto" href="#docs">Docs</a></li>

                            <li class="nav-item"><a class="scrollto" href="#license">License</a></li>
                            <li class="nav-item last"><a data-toggle="modal" data-target="#login" class="scrollto" href="">Login</a></li>

                        </ul><!--//nav-->
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->
            </div>
        </header><!--//header-->
    <h2>Hello (User)!</h2>
    <h4>User Profile</h4>
    <p>Total Hours: 111</p>
    <p>Total $ Raised: $111</p>
    <p>Total $ Donated: $111</p>
    <h4>Upcoming Tasks</h4>
    <button>Charities</button>
    <section id="about" class="about section">
    <div class="container">
        <div class="row">
            <div class="item col-md-6 col-sm-10 col-xs-12">
                <div class="content">
                    <h3 class="sub-title">Upcoming Tasks</h3>
                    <p>{{userdata}}</p>
                    <table>
                        <thead>
                            <tr>
                                <td></td>
                                <td><b>Task</b></td>
                                <td><b>Charity</b></td>
                            </tr>

                        </thead>
                        <tbody ng-repeat="user in userdata">
                            <tr>
                                <td></td>
                                <td>{{user.tasks}}</td>
                                <td>{{user.tasks.charity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <div class="row">
            <div class="item col-md-6 col-sm-10 col-xs-12">
                <div class="content">
                    <h3 class="sub-title">Completed Tasks</h3>
                    <table>
                        <thead>
                            <td></td>
                            <td>Task</td>
                            <td>Charity</td>
                        </thead>
                        <tbody>
                            <td></td>
                            <td>Donate Blood</td>
                            <td>Red Cross</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a href="/#charities">Charity Page</a>
</div>
